*{
    margin: 0;
    padding: 0;
}


/* Start Nav Bar */
.logo{
    width: 80px;
    height: 60px;
    margin-left: 70px;
    margin-top: 2px;
}

.nav_title{
    display: inline-block;  
    position: relative;
    bottom: 25px;
    left: 700px;
}

.contact{    
    padding-right: 40px;
    text-decoration: none;
}

.nav_bar{
    margin-top: 0px;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, .5);
}

.nav{
    background-color: rgba(0, 0, 0, .1);
}

.contact:hover{
    color: red;
    font-size: 20px;
}

/* End Nav Bar */

/* Start Body Step 1 */


.back_image{
    width: 100%;
    height: 600px;
}

.back_image_text{
    position:absolute;
    top: 180px;
    left: 130px;
    color:yellow;
    border: 2px solid rgb(75, 75, 70);
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    padding: 25px;
    background-color: rgba(22, 24, 26, 0.4);
    letter-spacing: 1px;
}

.back_image_text p{
    padding-top: 7px;
}

/* End Body Step 1 */

/* Start Body Step 2 */

.sub_title{
    margin-top: 30px;
    margin-left: 300px;
}

.sub_title_bar{
    border: 1px solid gray;
    border-radius: 5px;
    width: 650px;
    margin-left: 300px;
}

/* Start KMD Exam Center */
.kmd_body_logo{
    width: 350px;
    height: 280px;
    margin-left: 100px;
}

.kmd_centers{
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px 30px 0px ;

}

.centers_names{
    margin-top: 90px;
}

.center_name_text{
    font-size: 25px;
    margin-left: 10px;
}

.centers_names{
    line-height: 40px;
}


.kmd_exam_center_bar{
    border: 1px solid gray;
    width: 90%;
    margin: 0px 50px 0px;
}

/* End KMD Exam Center */

.home_base_notic_logo{
    width: 350px;
    height: 280px;
    margin-left: 100px;
}

.home_base_notic{
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px 30px 0px ;
}

.home_base_exam_item_collect{
    margin-top: 20px;
    margin-right: 80px;
}

.home_base_exam_notic_text{
    font-size: 25px;
}

.home_base_exam_notic_item{
    line-height: 30px;
}

.view_exam_list{    /*button */
    text-decoration: none; 
    display: inline-block;
    padding:20px ;
    font-size: 15px;
    color: white;
}

.exam_list{
    margin-top: 30px;
}

.view_exam_list2{
    margin-left: 20px;
}

.view_exam_list3{
    border: 0px solid gray;
    border-radius: 50px;
    background-color: blue;
}

.view_exam_list3:hover{
    background-color: red;
}

.view_exam_list:hover{
    color: black;
}

/* End Home Base Notic */

/* Start Join With KMD */

.greet_photo{
    width: 450px;
    height: 450px;
    margin-left: 50px;
}

.join_with_kmd{
    display: grid;
    grid-template-columns: auto auto;
}

.contact_me{
    margin-top: 50px;
    margin-right: 130px;
}

.contact_text{
    font-size: 20px;
}

.contact_text_collect{
    margin-top: 20px;
}

.contact_box_collect{
    margin-top: 20px;
}

.contact_item{
    font-size: 20px;
}

.contact_box{
    height: 35px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
}

.box_button{
    margin-top: 20px;
    width: 120px;
    height: 40px;
    margin-left: 130px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: blue;
}

.box_button_text{
    color: white;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
}

.box_button:hover{
    background-color: red;
    cursor: pointer;
}

/* End Start Join With KMD */

/* Start Footer */

.footer_logo{
    width: 110px;
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
}

.footer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(46, 178, 211);
    height: 130px;
}

.feedback{
    margin-top: 20px;
}

.feedback_icon{
    margin-top: 10px;
}
.feedback_text{
    font-size: 17px;
}

.footer_bar_text_collect{
    margin-top: 10px;
}

.footer_bar_text_item{
    margin-top: 10px;
}

.footer_bar_text{
    display: inline-block;
    text-decoration: none;
    color: black;
}

.footer_bar_text:hover{
    color: black;
    font-size: 18px;
}

.follow_up_collect{
    margin-top: 15px;
}

.follow_up_item{
    margin-top: 7px;
}

.follow_up_text{
    margin-left: 10px;
}

.follow_up_icon_collect{
    margin-top: 15px;
}

.follow_up_icon{
    margin-left: 5px;
}

/* End Footer */

/* Start Home Base Exam HTML */

/* Start Home Base Exam Body Background Step */

.home_base_exam_background{
    width: 100%;
}

.home_base_exam_backgound_text_collect{
    position: absolute;
    top: 500px;
    left: 110px;
    border: 0px solid gray;
    border-radius: 30px;
    background-color: rgba(69, 191, 228, 0.2);
    width: 280px;
}

.home_base_exam_backgound_text{
    font-size: 22px;
    text-align: center;
    color: rgb(15, 141, 141);
    font-weight: bold;
}

.home_base_exam_backgound_text_item{
    padding: 20px 20px 20px;
}

/* End Home Base Exam Body Background Step */

/* Start Home Base Exam Body Step2 */

.home_base_exam_title{
    margin-top: 10px;
    margin-left: 550px;
}

.home_base_exam_title_bar{
    border: 1px solid rgb(37, 98, 212);
    width: 290px;
    margin-left: 540px;
    border-radius: 5px;
}

.home_base_exam_subtitle{
    margin-left: 100px;
}

.home_base_exam_subtitle_bar{
    border: 1px solid rgb(21, 180, 201);
    width: 150px;
    margin-left: 95px;
    border-radius: 5px;
}

.home_base_exam_list_collection{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 20px;
    margin: 10px 95px 30px;
}

.home_base_exam_list_item{
    border: 2px solid gray;
    border-radius: 5px;
    position: relative;
}

.home_base_exam_image{
    width: 100%;
    height: 100%;
}

.home_base_exam_detail_text{
    display: inline-block;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

.home_base_exam_detail_button{
    position: absolute;
    left: 80px;
    top: 140px;
    border: 1px solid gray;
    border-radius: 30px;
    width: 120px;
    height: 40px;
    background-color: blue;
    opacity: 0;
}

.home_base_exam_image:hover{
    opacity: .4;
}

.home_base_exam_list_item:hover .home_base_exam_detail_button{
    opacity: 1;
}

.home_base_exam_detail_button:hover{
    background-color:red;
}

/* End Home Based Exam Body Step 2 */


/* Start Center Based Exam Body Step 1 */

.center_base_exam_backgound_text_collect{
    position: absolute;
    top: 500px;
    left: 155px;
    border: 0px solid gray;
    border-radius: 30px;
    background-color: rgba(69, 191, 228, 0.2);
    width: 280px;
}

/* Start About of KMD Exam Center  */

.our_service{
    margin-left: 600px;
    margin-top: 20px;
}

.our_sevice_line{
    border: 2px solid blue;
    border-radius: 5px;
    width: 200px;
    margin-left: 590px;
}

.our_service_text{
    margin: 20px 20px 0px;
    font-size: 19px;
}

.our_sevice_image{
    width: 40%;
    margin-left: 100px;
}

.our_service_notice{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
}

.our_service_notice_text{
    position: relative;
    right: 350px;
    top: 100px;
    line-height: 20px;
}

.kmd_exam_center{
    font-size: 30px;
    font-weight: bold;
}

.kmd_exam_center_subtext{
    font-size: 20px;
}

/* Start Register Now */

.register_now_title{
    margin-left: 600px;
    margin-top: 40px;

}

.register_now_bar{
    border: 1px solid blue;
    border-radius: 5px;
    width: 150px;
    margin-left: 595px;
}

.register_now_table{
    margin-top: 10px;
    margin-left: 500px;
}

.register_now_table_item{
    font-size: 20px;
}

.register_now_table_data_box{
    width: 250px;
    height: 40px;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    margin-top: 10px ;
}

.register_now_data_submit_box{
    margin-left: 130px;
    margin-top: 10px;
    width: 120px;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: blue;
}

.register_now_data_submit_text{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.register_now_data_submit_box:hover{
    background-color: red;
    cursor: pointer;
}