*{
    margin: 0;
    padding: 0;
}

.logo{
    height: 100px;
    width: 105px;
    margin-left: 80px;
    margin-top: 20px;
}

.nav_item{
    float: right;
}

.nav_item li{
    display: inline-block;
    margin-top: 65px;
    margin-right: 40px;
}

.nav_item li a{
    text-decoration: none;
    color: black;
}

.nav_item li a:hover{
    color: red;
}

.nav_cart{
    margin-right: 60px;
}

.nav{
    box-shadow: 0px 10px 20px rgba(0,0, 0, 0.2);
}

.nav_item{
    margin-right: 60px;
}

.cart_text{
    background-color: red;
    border-radius: 50%;
    position: relative;
    padding: 6px;
    right: 110px;
    top: -20px;
}

/* end nav */

/* start body step1 */
.back_photo1 img{
    width: 100%;
}

.step1_text{
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    top: 300px;
    left: 150px;
    padding: 20px 15px;
    color: white;
    letter-spacing: 1px;
    border-radius: 5px;
}

.step1_text h2{
    padding: 10px 0px;
}

.step1_button{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 0px solid gray;
    margin-top: 10px;
    margin-left: 10px;
    
}
/* end body step1 */

/* start deli */

.deli_item p{
    display: inline-block;
    padding-left: 3px;
    position: relative;
    top: 5px;
}

.deli_text2{
    color: rgb(124, 117, 117);
}

.deli_item{
    display: inline-block;
    border: 2px solid gray;
    padding: 10px 85px 10px 10px;
    border-radius: 5px;
    align-items: center;
}

.deli{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    margin: 20px 50px;
    justify-content: space-evenly;
    grid-column-gap: 0px;
}
